*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/*Parte 1 -Giuliana */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.item-nav{
    color:#242E52;
    text-decoration:none;
}
.item-nav:hover{
    color:#242E5299;
    cursor: pointer;
}
.boton{
    background-color: #8B48BF;
    color:white;
    border-radius: 50px;
    padding: 10px 30px;
    border: 2px solid #8B48BF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.contenido-principal{
    text-align: right;
    margin: 10px;
}

.contenido-principal > * {
    margin-right: 30px;
    margin-bottom: 30px;
}
.titulo{
    font-size: 40px;
    color:#232C50;
}


/*Parte 2 -Eliana*/



/*Parte 3 -Giuliana */




/*Parte 2 -Eliana*/