
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    width: 1440px;
    font-family: 'Be Vietnam Pro', sans-serif;
}


/*Parte 1 -Giuliana */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.item-nav{
    color:#242E52;
    text-decoration:none;
}
.item-nav:hover{
    color:#242E5299;
    cursor: pointer;
}
.boton-principal{
    background-color: #8B48BF;
    color:white;
    border-radius: 50px;
    padding: 10px 30px;
    border: 2px solid #8B48BF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.contenido-principal{
    text-align: right;
    margin: 10px;
}

.contenido-principal > * {
    margin-right: 30px;
    margin-bottom: 30px;
}
.titulo{
    font-size: 40px;
    color:#232C50;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

/*Parte 2 -Eliana*/
.marco-diferencia{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 168px;
    
    background-color: #8B48BF;
    color: #ffffff;
}

header.marco-diferencia h2{
    font-size: 2rem;
    font-weight: 700;
    width: 31.25% /*450px;*/
}

header.marco-diferencia p{
    font-size: 1rem;
    font-weight: 500;
    width: 31.25%/*450px;*/
}

.marco-noticia{    
    display: flex;
    justify-content: center;
    /*width: 100vw;*/

    background-color: #FAFAFA;
}

ol.tablon{
    list-style-type: none;
    counter-reset: lista;
    padding: 0;
}

ol.tablon li::before{
    content: "0" counter(lista);
    counter-increment: lista;
    position: absolute;
    background: #8B48BF;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    margin-left: -80px;
    margin-top: -10px;
    line-height: 45px;
    text-align: center;
    height: 43px;
    width: 69px; 
}

.tablon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 428px;
    width: 75%;
}

ol.tablon .item3{
    margin-left: 27.5%;
}

.item1, .item2, .item3{
    height: 162px;
    width: 43%;

    color: #B3B2B7;
    font-size: 16.3px;
    line-height: 25.52px;
}

li.item1 h4, li.item2 h4, li.item3 h4{
    color: #323851;
    font-size: 1rem;
    font-weight: 700;   
}

/*Parte 3 -Giuliana */

.titulo-best{
    text-align: center;
    margin-top: 30px;
    color:#242E53
}
.cards{
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
}
.imagen{
    display: flex;
    position: absolute;
    align-items: center;
}
.texto{
    padding-top: 60px;
    margin-top: 30px;
    margin-left: 0px;
    justify-content: center;
    background-color: #FAFAFA;
}
.titulo-card{
    text-align: center;
    margin-bottom: 20px;
    font-size: 16.07px;
    color:#3F4868
}
.texto-card{
    color:#B9B9C1;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    margin: 10px;
}
.boton-inferior{
    text-align: center;
    margin:40px;
}
.boton{
    background-color:#8B48BF;
    color:white;
    border-radius: 50px;
    padding: 10px 30px;
    border: 2px solid #8B48BF;
}
.boton:hover{
    background-color:#8B48BFB2 /* #3D0157*/ ;
    border-color:#8B48BFB2 ;
    cursor: pointer;
}

/*Parte 4 -Eliana*/
.marco-equipo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 224px;

    background-color: #8B48BF;
}

.marco-equipo h3{
    height: 96px;
    width: 40%;

    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
}

.marco-equipo button{
    height: 44px;
    width: 134px;

    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 8px 0px #00000040;
    color:#8B48BF;
    font-size: 0.82rem;
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: space-around;
    height: 247px;
    width: 100%;
    padding: 40px;

    background-color: #1E1E26;
    color: #ffffff;
}

.caja{
    display: flex;
    justify-content: space-between;
}

.caja1{
     flex-direction: column;
     align-items: flex-start;
}

.redes-sociales{
    width: 100%;
}

.enlaces-redes-sociales{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.enlaces{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 23.38px;
    text-decoration: none;
    text-transform: capitalize;
}

.caja2{
    width: 393px;
    justify-content: space-between;
}

.nosotros, .comunidad{
    height: 142px;
    width: 110px;
    flex-direction: column;
}

.nosotros{
    justify-content: space-around;
}

.comunidad{
    justify-content: flex-start;
    line-height: 33.38px;
}

.caja3{
   margin-right: -430px;
   width: 20%;
}

.buscador{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

section.buscador input{
    height: 44px; 
    width: 201px;

    border-radius: 50px;
    color: #A0A0A0;
    font-size: 0.82rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding: 10px;
}

section.buscador button{
    height: 42px;
    width: 63px;

    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 0.82rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 10px;
}

.caja4{
    align-self: flex-end;
}

.copyright{
    color: #8C8C94;
    font-size: 0.78rem;
    font-weight: 500; 
    line-height: 1.1rem;
}

@media (max-width: 480px){
    body, .marco-diferencia, 
    .marco-noticia, .tablon, .item1, .item2, .item3, 
    .marco-equipo, .marco-equipo h3,
    .footer, .caja, .caja1, .caja2, .caja3, .caja4,
    .nosotros, .comunidad, .redes-sociales, .buscador
    .copyright
    {
        width: auto;
    }
     /*Parte 1 -Giuliana */
    
     .menu-icon {
        display: block;
    }
    .menu,.boton-principal{
        display: none;
    }
    header{
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-left: 40px;
    }
    .principal {
        display: flex;
        flex-direction: column; 
        align-items: flex-end;
        margin-top: 50px;
       
    }
    .imagen-principal img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
    }

    /*Parte 2 -Eliana*/
    .marco-diferencia{
        height: 306px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        line-height: 24.18px;
        margin: 0;
                 
        background-color: #3CDDF3; 
    }  

    header.marco-diferencia h2{
        width: 60%;
        line-height: 41.26px;
    }

    header.marco-diferencia p{
        display: none;
    }

     header.marco-diferencia::after{
        content: "Manage provides all the functionality your teas needs, without the complexity. Our software is tailor-made for modern digital product teams";
        padding-right: 8.4%;
    }

    .marco-noticia{
        flex-direction: column;
    }

    ol.tablon li::before{
        margin-left: 0;
        margin-top: 0;
    }

    .tablon{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        height: 682px;
    
        list-style-position: inside;
    }
    
    .item1, .item2, .item3{
        padding-left: 10%;
    }

    ol.tablon .item3{
        margin: 0;
    }

    li.item1 h4, li.item2 h4, li.item3 h4{
        height: 43px;

        background-color:  #8B48BF4D;
        border-radius: 50px 0 0 50px;
        line-height: 43px;
        padding-left: 20%;
    }
    

    /*Parte 3- Giuliana*/

    .card.one, .card.three {
        display: none;
      }
    /*Parte 4 - Eliana*/
    .marco-equipo{
        background-color: #3CDDF3;

        flex-direction: column;
        height: 366px;
    }
    .marco-equipo h3{
        text-align: center;
        width: 68%;
    }

    .marco-equipo button{
        background-color: #232C50;
        color: #ffffff;
    }

    .footer {
        width: 100%;
        height: 534.71px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .caja1{
        align-items: center;
        height: 20%;
        order: 1;
        width: 80%;
    }

    .caja2{
        width: 68%;
    }
   
    .caja3{
        justify-content: center;
        margin: 0;
        order: -1; 
        width: 80%; 
    }

    .redes-sociales{
        order: -1;
        width: 100%;
    }

    section.buscador input{
        width: 308px;
    }

    .caja4{
        order: 1;
        align-self: center;
    }


}